/*
 Proxima Nova Font Familiy
*/

///
/// Font Face import mixin
///
/// @param {text} $fontFamily - The font-family name that will be referenced in your css
/// @param {text} $fontFolder - The folder inside the /fonts/ folder your font resides in.
/// Confusing much? Example: fonts/{$fontFolder}/yourFont.woff
/// @param {text} $fontFileName - The filename of your font before the extension.
///
/// @example @include fontImport(ProximaNovaBlack, proximanova, ProximaNova-Black-webfont);
///

@mixin fontImport($fontFamily, $fontFolder, $fontFileName) {
    @font-face {
        font-family: $fontFamily;
        src: url('/fonts/#{$fontFolder}/#{$fontFileName}.eot');
        src: url('/fonts/#{$fontFolder}/#{$fontFileName}.eot?#iefix') format('embedded-opentype'),
        url('/fonts/#{$fontFolder}/#{$fontFileName}.woff') format('woff'),
        url('/fonts/#{$fontFolder}/#{$fontFileName}.ttf') format('truetype'),
        url('/fonts/#{$fontFolder}/#{$fontFileName}.svg##{$fontFamily}') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}


// @include fontImport(MC-Icons, mc-custom, Management-Console-Icons);


@include fontImport(ProximaNovaBlack, proximanova, ProximaNova-Black-webfont);
@include fontImport(ProximaNovaBlackItalic, proximanova, ProximaNova-BlackIt-webfont);
@include fontImport(ProximaNovaBold, proximanova, ProximaNova-Bold-webfont);
@include fontImport(ProximaNovaBoldItalic, proximanova, ProximaNova-BoldIt-webfont);
@include fontImport(ProximaNovaExtrabold, proximanova, ProximaNova-Xbold-webfont);
@include fontImport(ProximaNovaExtraboldItalic, proximanova, ProximaNova-XboldIt-webfont);
@include fontImport(ProximaNovaRegularItalic, proximanova, ProximaNova-RegIt-webfont);
@include fontImport(ProximaNovaLight, proximanova, ProximaNova-Light-webfont);
@include fontImport(ProximaNovaLightItalic, proximanova, ProximaNova-LightIt-webfontt);
@include fontImport(ProximaNovaRegular, proximanova, ProximaNova-Reg-webfont);
@include fontImport(ProximaNovaSemibold, proximanova, ProximaNova-Sbold-webfont);
@include fontImport(ProximaNovaSemiboldItalic, proximanova, ProximaNova-SboldIt-webfont);
@include fontImport(ProximaNovaThin, proximanova, ProximaNova-Thin-webfont);
@include fontImport(ProximaNovaThinItalic, proximanova, ProximaNova-ThinIt-webfont);

/*
x

//@font-face {
//    font-family: 'ProximaNovaExCn-It';
//    src: url('/fonts/proximanova/ProximaNovaExCn-ThinIt.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-ThinIt.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-ThinIt.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-ThinIt.ttf')  format('truetype');
//    font-weight: 100;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaCond';
//    src: url('/fonts/proximanova/ProximaNovaCond-Bold.eot');
//    src: url('/fonts/proximanova/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaCond-Bold.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaCond-Bold.ttf')  format('truetype');
//    font-weight: bold;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn-SemiIt';
//    src: url('/fonts/proximanova/ProximaNovaExCn-SemiboldIt.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-SemiboldIt.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-SemiboldIt.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-SemiboldIt.ttf')  format('truetype');
//    font-weight: bold;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn';
//    src: url('/fonts/proximanova/ProximaNovaExCn-Regular.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-Regular.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-Regular.ttf')  format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn-Semi';
//    src: url('/fonts/proximanova/ProximaNovaExCn-Semibold.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-Semibold.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-Semibold.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-Semibold.ttf')  format('truetype');
//    font-weight: bold;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn';
//    src: url('/fonts/proximanova/ProximaNovaExCn-Light.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-Light.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-Light.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-Light.ttf')  format('truetype');
//    font-weight: 300;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaCond-Semi';
//    src: url('/fonts/proximanova/ProximaNovaCond-Semibold.eot');
//    src: url('/fonts/proximanova/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaCond-Semibold.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaCond-Semibold.ttf')  format('truetype');
//    font-weight: bold;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn-It';
//    src: url('/fonts/proximanova/ProximaNovaExCn-RegularIt.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-RegularIt.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-RegularIt.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-RegularIt.ttf')  format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaCond';
//    src: url('/fonts/proximanova/ProximaNovaCond-Light.eot');
//    src: url('/fonts/proximanova/ProximaNovaCond-Light.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaCond-Light.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaCond-Light.ttf')  format('truetype');
//    font-weight: 300;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaCond-SemiIt';
//    src: url('/fonts/proximanova/ProximaNovaCond-SemiboldIt.eot');
//    src: url('/fonts/proximanova/ProximaNovaCond-SemiboldIt.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaCond-SemiboldIt.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaCond-SemiboldIt.ttf')  format('truetype');
//    font-weight: bold;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn-It';
//    src: url('/fonts/proximanova/ProximaNovaExCn-BoldIt.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-BoldIt.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-BoldIt.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-BoldIt.ttf')  format('truetype');
//    font-weight: bold;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn-It';
//    src: url('/fonts/proximanova/ProximaNovaExCn-BlackIt.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-BlackIt.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-BlackIt.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-BlackIt.ttf')  format('truetype');
//    font-weight: 900;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn';
//    src: url('/fonts/proximanova/ProximaNovaExCn-Bold.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-Bold.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-Bold.ttf')  format('truetype');
//    font-weight: bold;
//    font-style: normal;
//}
//

//
//@font-face {
//    font-family: 'ProximaNovaExCn-bldIt';
//    src: url('/fonts/proximanova/ProximaNovaExCn-ExtrabldIt.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-ExtrabldIt.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-ExtrabldIt.ttf')  format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn-bld';
//    src: url('/fonts/proximanova/ProximaNovaExCn-Extrabld.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-Extrabld.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-Extrabld.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-Extrabld.ttf')  format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}

*/

@include fontImport(ProximaNovaCond, proximanova, ProximaNovaCond-Regular);
@include fontImport(ProximaNovaCond-It, proximanova, ProximaNovaCond-RegularIt);

/*
//
//
//@font-face {
//    font-family: 'ProximaNovaCond-_1';
//    src: url('/fonts/proximanova/ProximaNovaCond-Regular_1.eot');
//    src: url('/fonts/proximanova/ProximaNovaCond-Regular_1.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaCond-Regular_1.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaCond-Regular_1.ttf')  format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaCond-It';
//    src: url('/fonts/proximanova/ProximaNovaCond-LightIt.eot');
//    src: url('/fonts/proximanova/ProximaNovaCond-LightIt.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaCond-LightIt.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaCond-LightIt.ttf')  format('truetype');
//    font-weight: 300;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaCond';
//    src: url('/fonts/proximanova/ProximaNovaCond-Black.eot');
//    src: url('/fonts/proximanova/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaCond-Black.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaCond-Black.ttf')  format('truetype');
//    font-weight: 900;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn';
//    src: url('/fonts/proximanova/ProximaNovaExCn-Black.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-Black.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-Black.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-Black.ttf')  format('truetype');
//    font-weight: 900;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn';
//    src: url('/fonts/proximanova/ProximaNovaExCn-Thin.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-Thin.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-Thin.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-Thin.ttf')  format('truetype');
//    font-weight: 100;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'ProximaNovaExCn-It';
//    src: url('/fonts/proximanova/ProximaNovaExCn-LightIt.eot');
//    src: url('/fonts/proximanova/ProximaNovaExCn-LightIt.eot?#iefix') format('embedded-opentype'),
//    url('/fonts/proximanova/ProximaNovaExCn-LightIt.woff') format('woff'),
//    url('/fonts/proximanova/ProximaNovaExCn-LightIt.ttf')  format('truetype');
//    font-weight: 300;
//    font-style: normal;
//}
*/