mc-shell-message {
    div.mc-shell-message {
        color: white;
        padding: 7px 20px;
        font-size: 13px;
        &__message {
            display: inline-block;
        }
        .mc-icon {
            font-size: 30px;
            margin-right: 15px;
            display: inline-block;
        }
        .shell-message-content {
            position: relative;
            top: -7px;

        }
        .shell-message-click {
            position: relative;
            top: -7px;
        }
        mc-button {
            display: inline-block;

        }
        &.message {
            @include bgColor($messageBlue);
        }
        &.success {
            @include bgColor($colorSecondary);
        }
        &.error {
            @include bgColor($errorRed);
        }
    }
}